img{
    height: 4rem;
    justify-content: end;
}
.header{
    justify-content: center;
    height: 10%;
}

span{
    display: flex;
    align-items: center;
}

h1{
    padding-left: 1.1rem;
    color: darkblue;
    
}